body {
background-color: #fffff;
border-radius: 1px;
min-height: 1000px;
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;
.textcenter{
  text-align:left;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
